
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <p>Password reset link has been sent to your email. Please check your inbox.</p>
            <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Go to your Inbox</a>
        </div>
    </div>
</div>