@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>

		<form asp-action="SendEmail">
			<input class="text" asp-for="NewPassword" type="password" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>

			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>
@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial" />
}

